
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.mealnav ul li{
  padding: 20px;
}
.form-control{
    background-color: whitesmoke;
    padding: 20px;
    border: none;
    border-radius: 15px;
}
.searchArea{
  position: relative;
}
.btn{
    padding: 9px 30px;
    border-radius: 5px;
}
.searchBtn {
    position: absolute;
    background-color: tomato;
    color: white;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
}
 /* css code create from js */
 .mealsItem{
}
.mealImg{
  width: 300px;
}
.mealHeading{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  text-align: center;
  background-color: #f06c4e; 
   
}





